$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;
$avenir: Avenir, Helvetica, Arial, sans-serif;

$font_size_small: 14px;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
